.rocketbox {
    margin: 0 4% 0 4%;
}

.heading {
    padding: 1%;
}

.rocketColumnBox {
    padding: 2%;
    margin-right: 3%;
    border: 2px solid silver;
    border-bottom: none;
}

.last {
    padding: 2%;
    margin-right: 3%;
    border-top: 2px solid silver;
}